In [2]:
import pandas as pd
from stockstats import wrap

data = pd.read_csv('HSI.csv')
df = wrap(data)

In [3]:
df[['close', 'close_-1_s', 'close_2_s']]

                   close    close_-1_s     close_2_s
date
2023-01-03  20145.289062  20145.289062  21052.169922
2023-01-04  20793.109375  20145.289062  20991.640625
2023-01-05  21052.169922  20793.109375  21388.339844
2023-01-06  20991.640625  21052.169922  21331.460938
2023-01-09  21388.339844  20991.640625  21436.050781
...                  ...           ...           ...
2023-12-21  16621.130859  16613.810547  16624.839844
2023-12-22  16340.410156  16621.130859  17043.529297
2023-12-27  16624.839844  16340.410156  17047.390625
2023-12-28  17043.529297  16624.839844  17047.390625
2023-12-29  17047.390625  17043.529297  17047.390625

[243 rows x 3 columns]

In [4]:
df[]

SyntaxError: invalid syntax (1951995059.py, line 1)

In [5]:
print (df)

                    open          high           low         close  \
date
2023-01-03  19570.429688  20212.550781  19303.730469  20145.289062
2023-01-04  20319.980469  20793.109375  20233.390625  20793.109375
2023-01-05  21295.869141  21396.089844  20962.400391  21052.169922
2023-01-06  21220.890625  21282.710938  20862.769531  20991.640625
2023-01-09  21295.939453  21470.689453  21216.919922  21388.339844
...                  ...           ...           ...           ...
2023-12-21  16455.140625  16649.570312  16444.730469  16621.130859
2023-12-22  16743.060547  16857.839844  16271.500000  16340.410156
2023-12-27  16561.779297  16673.570312  16439.259766  16624.839844
2023-12-28  16678.230469  17086.099609  16644.429688  17043.529297
2023-12-29  17066.519531  17095.119141  16950.900391  17047.390625

               adj close      volume    close_-1_s     close_2_s
date
2023-01-03  20145.289062  2286651100  20145.289062  21052.169922
2023-01-04  20793.109375  3015986300  20145.289062  20991.640625
2023-01-05  21052.169922  2875372400  20793.109375  21388.339844
2023-01-06  20991.640625  2754459500  21052.169922  21331.460938
2023-01-09  21388.339844  2697924400  20991.640625  21436.050781
...                  ...         ...           ...           ...
2023-12-21  16621.130859  1404417200  16613.810547  16624.839844
2023-12-22  16340.410156  2197553900  16621.130859  17043.529297
2023-12-27  16624.839844  2228051300  16340.410156  17047.390625
2023-12-28  17043.529297  2301329400  16624.839844  17047.390625
2023-12-29  17047.390625  1570053000  17043.529297  17047.390625

[243 rows x 8 columns]

In [6]:
df['rsi']

date
2023-01-03           NaN
2023-01-04    100.000000
2023-01-05    100.000000
2023-01-06     92.958969
2023-01-09     95.296430
                 ...
2023-12-21     45.176795
2023-12-22     40.053515
2023-12-27     46.654593
2023-12-28     54.582773
2023-12-29     54.649713
Name: rsi, Length: 243, dtype: float64

In [8]:
df['macd']

date
2023-01-03      0.000000
2023-01-04     14.534430
2023-01-05     26.553201
2023-01-06     29.183435
2023-01-09     45.783855
                 ...
2023-12-21   -219.840944
2023-12-22   -224.112474
2023-12-27   -202.215579
2023-12-28   -149.355713
2023-12-29   -105.931202
Name: macd, Length: 243, dtype: float64

In [22]:
adr = (df['high_-1_s'] - df['low_-1_s'] + df['high_-2_s'] - df['low_-2_s'] + df['high_-3_s'] - df['low_-3_s']
            + df['high_-4_s'] - df['low_-4_s'] + df['high_-5_s'] - df['low_-5_s']) / 5

In [23]:
print(adr)

date
2023-01-03    908.820312
2023-01-04    908.820312
2023-01-05    839.000000
2023-01-06    743.973828
2023-01-09    646.198047
                 ...
2023-12-21    223.156445
2023-12-22    212.418359
2023-12-27    258.960156
2023-12-28    277.716406
2023-12-29    331.744141
Length: 243, dtype: float64

In [24]:
df['tema']

date
2023-01-03    20145.289062
2023-01-04    20751.648875
2023-01-05    21052.421562
2023-01-06    21057.587321
2023-01-09    21342.246033
                  ...
2023-12-21    16642.317632
2023-12-22    16444.070144
2023-12-27    16556.393243
2023-12-28    16902.371637
2023-12-29    17049.744218
Name: tema, Length: 243, dtype: float64